.navbarButton {
  color: var(--mantine-color-gray-6);
}

.navbarButton:hover {
  color: cornflowerblue;
  background-color: transparent;
}

.loginButton {
  color: white;
}

.loginButton:hover {
  border-color: cornflowerblue;
}